.haditopcardui{
    background: rgba(25,25,25,.60);
    border-radius: 5px 5px 0 0;
    margin-bottom: 0px !important;
}
.haditopcardui{
    background: rgba(25,25,25,.60);
    border-radius: 5px 5px 0 0;
    margin-bottom: 0px !important;
}
.hadiwhitecolor{
    color:white;
}
.hadiblackcolor{
    color:white;
}
.hadicardmiddle{
    background: rgba(230,230,230,.6);
}
.login-page{
    background: url(../img/bg-moharram.jpg) no-repeat 60% 0% fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.hadititle{
    font-size: 16pt;
    font-weight: 600;
}
.negatviemargin{
    margin-top: -10px;
}
.hadibold{
    font-weight: 700;
}
.haditransparent{
    background: rgba(255,255,255,0);
    box-shadow: none;
}
#first legend{
    font-weight: 400;
    font-size: 1rem;
}
.hadifile p{
    margin-bottom: 2px;
}
.select2-container .select2-search--inline {
    float: right !important;
}
.hadishadow{
    box-shadow: 0 0 1px rgba(0,0,0,.125), 0 1px 3px rgba(0,0,0,.2);
    padding: 20px;
}
input[type="file"]::placeholder{
    color:rgba(0,0,0,.5);
}
.hadibtnmap{
    margin: 0px 10px;
    padding: 0px 15px;
    border-right: solid 2px rgba(0,0,0,.5);
}
.hadialert{
    margin-left: 10px;
    float: right;
    width:25px;
    height: auto;
}